@import "tailwindcss";

:root {
  --background: #af2828;
  --foreground: #69ec48;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dbbcbc;
    --backdarker: #d88e8e;
    --backlighter: #fde1e1;
    --foreground: #221616;
    --foredarker: #0e0404;
    --forelighter: #604343;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

main
{
  height: 100%;
}

header
{
  text-align:center;
}

button
{
	box-shadow: 0px 0px 2px 1px var(--backlighter);
	background-color:var(--backdarker);
	border-radius:12px;
	border:1px solid var(--backlighter);
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:15px;
	padding:12px 31px;
	text-decoration:none;
}

button:hover {
	background-color:transparent;
	border-radius:28px;
}

button:active {
	position:relative;
	top:1px;
}


.trialZone
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

input
{
  background-color: var(--backdarker);
}

.gameTile
{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(176, 172, 172);
    text-align: center;
    transition: 0.1s;
}

.hiddenTile
{
    width: 100px;
    height: 100px;
    text-align: center;
    transition: 0.1s;
}

.gameTile:hover
{
    border: 3px solid rgb(106, 102, 102);
}

.gameRow
{
    display: flex;
    flex-direction: row;
}

.imgTile
{
    width: 100%;
}
